[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
tortoise-orm = "*"
jinja2 = "*"
databases = "*"
sqlalchemy = "*"
httpx = "*"
pytest = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
